{% extends 'base.html' %}
{% block content %}

<div class="row row-md-height">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <tr>
          <td><strong>Name</strong></td>
          <td><strong>GID</strong></td>
          <td><strong>Members</strong></td>
        </tr>
        {% for group in group_list %}
        <tr style="cursor: pointer;"
        onclick="document.location = '{% url 'group' group.gid %}'">
          <td>{{ group }}</td>
          <td>{{ group.gid }}</td>
          <td>{{ group.usernames | length }}</td>
        </td>
        {% endfor %}
      </table>
    </div>
  </div>

{% endblock content %}
