{% extends 'base.html' %}
{% block head %}
<script>
$(window).on('load', function () {
  $('#id_full_name').html($('#id_first_name').val() + ' ' + $('#id_last_name').val());
});
</script>
{% endblock head %}

{% block content %}

<div class="container-liquid">

  <form role="form" method="post" action="">
    {% csrf_token %}
    <!-- {{ form }}  form for dev -->

    <div class="row">
      <div class="col-sm-12">
        <p><h3 id="id_full_name"></h3></p>
        <!- - show user image. allow changing - ->
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="id_username">Username</label>
          {{ form.username }}
        </div>
        <div class="form-group">
          <label for="id_first_name">First name</label>
          {{ form.first_name }}
        </div>
        <div class="form-group">
          <label for="id_last_name">Last name</label>
          {{ form.last_name }}
        </div>
        <div class="form-group">
          <label for="id_email">Email</label>
          {{ form.email }}
        </div>
        <div class="form-group">
          <label for="id_uid">UID</label>
          <!- - these two elements should be displayed inline - ->
          {{ form.uid }}
          <label for="id_auto_uid">Auto</label>
          {{ form.auto_uid }}
        </div>
        <div class="form-group">
          <label for="id_login_shell">Shell</label>
          {{ form.login_shell }}
        </div>
        <div class="form-group">
          <label for="id_enable_samba">Enable samba</label>
          {{ form.enable_samba }}
        </div>

      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="id_group">Primary group</label>
          {{ form.group }}
        </div>
        <label for="id_groups">Additional groups</label>
        <!- - make as high as the rest of the div - ->
        {{ form.groups }}
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <input type="submit" value="Submit" />
      </div>
    </div>

    <div class="row">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default" id="panel1">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-target="#collapseOne"
              href="#collapseOne">
              Addition information
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="id_password">Password</label>
                    {{ form.password }}
                  </div>
                  <div class="form-group">
                    <label for="id_gecos">GECOS</label>
                    {{ form.gecos }}
                  </div>
                  <div class="form-group">
                    <label for="id_full_name">Full name</label>
                    {{ form.full_name }}
                  </div>
                  <div class="form-group">
                    <label for="id_home_directory">Home directory</label>
                    {{ form.home_directory }}
                  </div>
                  <div class="form-group">
                    <label for="id_dn">DN</label>
                    {{ form.dn }}
                  </div>

                </div>
                <div class="col-sm-6">
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>

{% endblock content %}
