{% extends 'base.html' %}
{% block head %}
<link href="/static/css/multi-select.css" rel="stylesheet">
<script src="/static/js/jquery.multi-select.js"></script>
<script src="/static/js/user.js"></script>
<script src="/static/django_password_strength/js/zxcvbn.js"></script>
<script src="/static/django_password_strength/js/password_strength.js"></script>
<script>
$(window).on('load', function () {
  {% if form.errors %}
    {% for field in form %}
      {% if field.errors %}
        $('#{{ field.auto_id }}').parent().addClass('has-error');
      {% endif %}
    {% endfor %}
  {% endif %}
});
</script>
{% endblock head %}

{% block content %}

<div class="container-liquid">

  <form class="form-horizontal" role="form" method="post" action="">
    {% csrf_token %}

    {% if form.errors %}
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">×</button>
      {% for field in form %}
      {% if field.errors %}
      <li style="list-style-type:none;">{{field.name }}: {{ field.errors|striptags }}</li>
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}

    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-2">
          <!- - show user image. allow changing - ->
          {% if not form.photo.value %}
          <img class="img-rounded" width="100" height="100" src="http://www.livehappy.com/sites/default/files/styles/author/public/default_images/default_profile.png"/>
          {% else %}
          <img class="img-rounded" width="100" height="100" src="data:image/jpeg;base64, {{ form.photo.value }}"/>
          {% endif %}
        </div>
        <div class="col-sm-10">
          <h3 id="id_full_name"></h3>
          {% if user %}
          <h5>{{ user.dn }}</h5>
          <a href="javascript:void(0);" onclick="$('#passModal').modal('show'); return;">Change password</a>
          {% endif %}
        </div>
      </div>
      <hr>
    </div> <!-- end div for profile summary -->



    <div class="col-sm-6">

      <div class="row">
        <div class="form-group">
          <label class="col-sm-3 control-label" for="id_username">Username</label>
          <div class="col-sm-9">{{ form.username }}</div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label class="col-sm-3 control-label" for="id_first_name">First name</label>
          <div class="col-sm-9">{{ form.first_name }}</div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label class="col-sm-3 control-label" for="id_last_name">Last name</label>
          <div class="col-sm-9">{{ form.last_name }}</div>
        </div>
      </div>

      <div class="row">
        <div class="form-group row">
          <label class="col-xs-3 col-sm-3 col-md-3 control-label" for="id_email">Email</label>
          <div class="col-xs-6 col-sm-6 col-md-7">{{ form.email }}</div>
          <!-- col size below messes up layout -->
          <div class="col-xs-3 col-sm-3 col-md-2">
            <div data-toggle="buttons">
              <label class="btn btn-default control-label pull-right" for="id_auto_email">
                {{ form.auto_email }} Auto
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group row">
          <label class="col-xs-3 col-sm-3 col-md-3 control-label" for="id_uid">UID</label>
          <div class="col-xs-6 col-sm-6 col-md-7">{{ form.uid }}</div>
          <!-- col size below messes up layout -->
          <div class="col-xs-3 col-sm-3 col-md-2">
            <div data-toggle="buttons">
              <label class="btn btn-default control-label pull-right" for="id_auto_uid">
                {{ form.auto_uid }} Auto
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label class="col-sm-3 control-label" for="id_login_shell">Shell</label>
          <div class="col-sm-9">{{ form.login_shell }}</div>
        </div>
      </div>

      <!-- samba stuff
      <div class="row">
        <div class="form-group">
          <label class="col-sm-3 control-label" for="id_enable_samba">Enable samba</label>
          <div class="col-sm-9">{{ form.enable_samba }}</div>
        </div>
      </div>
      end samba stuff -->

    </div> <!-- end first column -->

    <div class="col-sm-6">

      <div class="row">
        <div class="form-group row">
          <label class="col-xs-3 col-sm-4 col-md-4 control-label" for="id_home_directory">Home</label>
          <div class="col-xs-6 col-sm-5 col-md-6">{{ form.home_directory }}</div>
          <!-- col size below messes up layout -->
          <div class="col-xs-3 col-sm-3 col-md-2">
            <div data-toggle="buttons">
              <label class="btn btn-default control-label pull-right" for="id_auto_home">
                {{ form.auto_home }} Auto
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label class="col-sm-4 control-label" for="id_group">Primary group</label>
          <div class="col-sm-8">{{ form.group }}</div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <!- - currently only shows correctly on gt 1200px width - ->
          <label class="col-sm-4 control-label" for="id_groups">Additional groups</label>
          <div class="col-sm-8">{{ form.groups }}</div>
        </div>
      </div>

    </div> <!-- end second column -->

      <div class="col-sm-12">
        <div class="form-group">
          <input class="btn btn-default pull-right" type="submit" value="Submit" />
        </div>
        <hr>
      </div>


    <div class="col-sm-12">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default" id="panel1">
          <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-target="#collapse-additional" style="cursor:pointer;">
            Additional information
        </h4>
        </div>
        <div id="collapse-additional" class="panel-collapse collapse in">
          <div class="panel-body">

          <div class="col-sm-6">

            <div class="row">
              <div class="form-group">
                <label class="col-sm-4 control-label" for="id_phone">Phone</label>
                <div class="col-sm-8">{{ form.phone }}</div>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <label class="col-sm-4 control-label" for="id_mobile_phone">Mobile phone</label>
                <div class="col-sm-8">{{ form.mobile_phone }}</div>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <label class="col-sm-4 control-label" for="id_gecos">Gecos</label>
                <div class="col-sm-8">{{ form.gecos }}</div>
              </div>
            </div>

          </div> <!-- end first column -->

          <div class="col-sm-6">

            <div class="row">
              <div class="form-group">
                <label class="col-sm-4 control-label" for="id_date_of_birth">Date of birth</label>
                <div class="col-sm-8">{{ form.date_of_birth }}</div>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <label class="col-sm-4 control-label" for="id_latitude">Latitude</label>
                <div class="col-sm-8">{{ form.latitude }}</div>
              </div>
            </div>

          </div> <!-- end second column -->

          </div> <!-- end panel body -->
        </div>
      </div>
    </div>
  </div>
</form>

</div>

<div class="modal fade" id="passModal" tabindex="-1" role="dialog" aria-labelledby="passModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Change password</h4>
      </div>
      <div class="modal-body">
        <form method='post' action='{% url 'change_password' user.uid %}'>

          <div class="form-group">
            {% csrf_token %}
            <label for="id_password">New password</label>
            {{ update_password_form.password }}
          </div>
          <div class="form-group">
            <label for="id_confirm_password">Confirm password</label>
            {{ update_password_form.confirm_password }}
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div><!-- /.modal-body -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock content %}
